#about {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px white solid;
    text-align: center;
    background: $blackish;
    .about-wrapper {
        display: block;
        width: 80%;
        position: relative;
    }
    h1 {
        color: $offwhite;
        font-size: 4rem;
        margin: 1rem;
        z-index: 2;
        position: relative;
        text-shadow: 2px 2px black;
        text-align: left;
    }
    h3 {
        width: 100%;
        color: white;
        text-align: left;
        font-size: 3rem;
        margin: 1rem;
        z-index: 2;
        position: relative;
        text-shadow: 1px 1px black;
        line-height: 1.5;
    }
    .image-wrapper {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
    }
    img {
        width: 26rem;
        min-width: 300px;
        position: relative;
        border-radius: 50%;
        z-index: -1;
    }
    .about-nav-buttons {
        display: flex;
        position: relative;
        bottom: 2%;
        width: 30%;
        align-items: center;
        justify-content: space-around;
        margin: 2rem;
        padding: 1rem;
        flex-direction: column;
    }
    a {
        font-size: 3rem;
        color: white;
        padding: .5rem 1rem;
        margin: 1rem 1rem;
        border: none;
        background: $blue;
        border-radius: .5rem;
        border: 2px solid $blackish;
        &:hover {
            background: $offwhite;
            color: $blackish;
            border: 2px solid $blue;
        }
    }
}

@media screen and (max-width: 800px) {
    #about h3 {
        font-size: 1.8rem;
        margin: .5rem;
    }
    #about .about-nav-buttons {
        display: none;
    }
}