$blue: #2f89fc;
$green: #30e3ca;
$blackish: #232726;
$offwhite: #f5f5f5;
#home {
    height: 100vh;
    display: flex;
    align-items: center;
    background: $blackish;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 5px white solid;
    .top-square-container,
    .bottom-square-container {
        display: flex;
        width: 100%;
        min-width: 200px;
        height: 50%;
        position: relative;
    }
    .top-square-container {
        justify-content: left;
    }
    .bottom-square-container {
        justify-content: right;
    }
    .squareOne {
        background: $green;
        width: 50%;
        min-width: 150px;
        height: 100%;
        display: flex;
        position: relative;
        border-bottom: 2px solid white;
        border-right: 2px solid $blackish;
    }
    .squareOne .backgroundOne {
        background: url('./images/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: .3;
        display: block;
    }
    .squareTwo {
        background: $offwhite;
        width: 50%;
        min-width: 150px;
        height: 100%;
        display: flex;
        border-left: 2px solid $blackish;
    }
    .squareTwo .backgroundTwo {
        background: url('./images/camera.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: .2;
        display: block;
    }
    .title-container {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #top {
        border-bottom: 2px solid $green;
    }
    #bottom {
        border-bottom: 2px white solid;
    }
    h1 {
        font-size: 6rem;
        color: $blue;
        text-shadow: 1px 1px black;
        position: relative;
        text-decoration: underline $offwhite 1px solid;
    }
    #photog {
        font-size: 3rem;
        color: white;
        margin: 1rem 1rem;
        padding: .5rem 0;
        position: relative;
        text-decoration: underline $blue;
    }
    h2 {
        font-size: 2.8rem;
        color: #f5f5f5;
        text-shadow: 2px 2px rgb(0, 0, 0);
        position: relative;
    }
    .nav-buttons {
        display: flex;
        position: relative;
        bottom: 2%;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin: 2rem;
        padding: 1rem .5rem;
    }
    a {
        font-size: 2rem;
        color: white;
        padding: .5rem 1rem;
        margin: 0 1rem;
        border: none;
        background: $green;
        border-radius: .5rem;
        border: 2px solid $blue;
        &:hover {
            background: $offwhite;
            color: $blue;
        }
    }
    #topBtn {
        min-width: 5%;
        min-height: 5%;
        color: rgba(19, 28, 39, 0.8);
        background-color: none;
        border: none;
        position: fixed;
        z-index: 99;
        top: 90%;
        left: 92%;
        display: none;
        cursor: pointer;
        border-radius: .5rem;
        border: 1px black solid;
        &:hover {
            background: $green;
            color: rgb(0, 0, 0);
            border: 1px solid white;
        }
    }
}

@media screen and (max-width: 850px) {
    #home {
        flex-direction: column;
    }
    .square-container {
        flex-direction: column;
    }
    #home .squareTwo {
        right: 0%;
    }
    #home .title-box {
        text-align: center;
        padding: 0;
    }
    #home h1 {
        font-size: 3.2rem;
    }
    #home h2 {
        font-size: 1.8rem;
    }
    #home a {
        font-size: 1.5rem;
    }
    #home #photog {
        font-size: 2rem;
    }
}