$blue: #2f89fc;
$green: #30e3ca;
$blackish: #232726;
$offwhite: #f5f5f5;
#work {
    height: 80%;
    background: $blackish;
    border-bottom: 5px white solid;
    .work-title {
        display: flex;
        justify-content: center;
        margin: 0 .5rem .5rem .5rem;
        text-align: center;
    }
    h1 {
        font-size: 3.5rem;
        color: $blue;
        margin: 1rem;
        padding: 1rem;
        text-shadow: 1px 1px $green;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 .5rem;
    }
    .column {
        flex: 22%;
        max-width: 25%;
        padding: 0 .5rem;
    }
    .column img {
        margin-top: .5rem;
        vertical-align: middle;
        width: 100%;
        border-radius: .5rem;
    }
    @media screen and (max-width: 800px) {
        .column {
            flex: 20%;
            max-width: 50%;
        }
    }
    @media screen and (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }
}