#work {
    height: 80%;
    background: $blackish;
    border-bottom: 5px white solid;
    .work-title {
        display: flex;
        justify-content: center;
        margin: 0 .5rem .5rem .5rem;
        text-align: center;
    }
    h1 {
        font-size: 4rem;
        color: $offwhite;
        margin: 1rem;
        padding: 1rem;
        text-shadow: 1px 1px black;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem .5rem;
    }
    .column {
        flex: 22%;
        max-width: 25%;
        padding: 0 .5rem;
    }
    .column img {
        margin-top: .5rem;
        vertical-align: middle;
        width: 100%;
        border-radius: .5rem;
        border: 2px $offwhite solid;
    }
    .button-container,
    .button-container2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: .5rem;
        text-align: center;
    }
    .button-container2 {
        display: none;
    }
    #work-btn {
        font-size: 3rem;
        color: $blackish;
        padding: .5rem 1rem;
        margin: 1rem 1rem;
        border: none;
        background: white;
        border-radius: .5rem;
        border: 2px solid white;
        &:hover {
            background: $offwhite;
            color: $blackish;
            border: 2px solid white;
        }
    }
    @media screen and (max-width: 900px) {
        #work-btn {
            font-size: 2.5rem;
        }
    }
    @media screen and (max-width: 900px) {
        .column {
            flex: 20%;
            max-width: 100%;
        }
    }
    @media screen and (max-width: 725px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
        .button-container2 {
            display: flex;
        }
        #last-column {
            display: none;
        }
    }
}