@import 'nav';
@import 'home';
@import 'about';
@import 'contact';
@import 'work';
@import 'services';
//google font
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Crimson+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
$blue: #f08a5d;
$green: #b83b5e;
$blackish: #6a2c70;
$offwhite: #f9ed69;
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    width: 95%;
    margin: auto;
    background: rgb(0, 0, 0);
    font-family: Caveat, cursive;
    scroll-behavior: smooth;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@media screen and (max-width: 800px) {
    .about-wrapper h1 {
        font-size: 3rem;
    }
    #about h3 {
        font-size: 2rem;
    }
    #about img {
        width: 30%;
    }
}