@import 'nav';
@import 'home';
@import 'about';
@import 'contact';
@import 'work';
//google font
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
$blue: #2f89fc;
$green: #30e3ca;
$blackish: #232726;
$offwhite: #f5f5f5;
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    width: 90%;
    margin: auto;
    background: rgb(255, 255, 255);
    font-family: Caveat, cursive;
    scroll-behavior: smooth;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@media screen and (max-width: 800px) {
    .about-wrapper h1 {
        font-size: 3rem;
    }
    #about h3 {
        font-size: 2rem;
    }
    #about img {
        width: 30%;
    }
}