@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 7vh;
}

#nav .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#nav .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

#nav .overlay a {
  padding: .5rem;
  text-decoration: none;
  font-size: 4rem;
  color: #2f89fc;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#nav .overlay a:hover,
#nav .overlay a:focus {
  color: #f1f1f1;
}

#nav .overlay .closebtn {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: 4rem;
}

#nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 7vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#nav h2 {
  font-size: 3rem;
  color: #2f89fc;
  padding: .5rem;
  margin: 0 1rem;
}

#nav button {
  margin: 0 1rem;
  padding: .8rem;
  font-size: 1.5rem;
  border: none;
  color: #2f89fc;
  border-radius: 20%;
}

#nav button:hover {
  background: #2f89fc;
  color: white;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 800px) {
  #nav h2 {
    font-size: 2rem;
  }
  #nav a {
    font-size: 1.5rem;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #nav button {
    padding: .5rem;
  }
}

#home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #232726;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .top-square-container,
#home .bottom-square-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 200px;
  height: 50%;
  position: relative;
}

#home .top-square-container {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#home .bottom-square-container {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#home .squareOne {
  background: #30e3ca;
  width: 50%;
  min-width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#home .squareOne .backgroundOne {
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: .3;
  display: block;
}

#home .squareTwo {
  background: white;
  width: 50%;
  min-width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .squareTwo .backgroundTwo {
  background: url("./images/camera.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: .2;
  display: block;
}

#home .title-container {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home h1 {
  font-size: 6rem;
  color: #2f89fc;
  text-shadow: 1px 1px black;
  margin: .5rem 0;
  padding: .5rem 0;
  position: relative;
}

#home h2 {
  font-size: 3rem;
  color: #f5f5f5;
  text-shadow: 2px 2px black;
  margin: 1rem 1rem;
  padding: .5rem 0;
  z-index: 2;
  position: relative;
}

#home .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 2%;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
  padding: 1rem .5rem;
}

#home a {
  font-size: 2rem;
  color: white;
  padding: .5rem 1rem;
  margin: 0 1rem;
  border: none;
  background: #2f89fc;
  border-radius: 25%;
}

#home a:hover {
  background: white;
  color: #2f89fc;
}

#home #topBtn {
  min-width: 5%;
  min-height: 5%;
  color: rgba(19, 28, 39, 0.8);
  background-color: none;
  border: none;
  position: fixed;
  z-index: 99;
  top: 90%;
  left: 92%;
  display: none;
  cursor: pointer;
}

#home #topBtn:hover {
  background: #30e3ca;
  color: black;
  border: 1px solid white;
}

@media screen and (max-width: 850px) {
  #home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .square-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .squareTwo {
    right: 0%;
  }
  #home .title-box {
    text-align: center;
    padding: 0;
  }
  #home h1 {
    font-size: 3.5rem;
  }
  #home h2 {
    font-size: 2rem;
  }
  #home a {
    font-size: 1.5rem;
  }
}

#about {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 5px white solid;
  text-align: center;
}

#about .about-wrapper {
  display: block;
  width: 80%;
}

#about h1 {
  color: #2f89fc;
  font-size: 4rem;
  margin: 1rem;
  z-index: 2;
  text-decoration: underline;
  position: relative;
  text-shadow: 2px 1px black;
}

#about h3 {
  width: 100%;
  color: #30e3ca;
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  z-index: 2;
  position: relative;
  text-shadow: 1px 1px black;
}

#about .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about img {
  width: 26rem;
  min-width: 250px;
  position: absolute;
  border-radius: 50%;
  right: 10%;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  #about h3 {
    font-size: 2rem;
    margin: .5rem;
  }
}

#contact {
  min-height: 90vh;
  background: #363636;
}

#contact .icon-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
}

#contact .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #30e3ca;
  width: 90%;
  margin: auto;
  border-radius: 10%;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 50%;
  padding: 1rem;
  text-align: center;
}

#contact h4 {
  font-size: 3rem;
  margin: 1rem;
  font-weight: 700;
  text-shadow: 1px 1px white;
}

#contact label {
  margin: .5rem;
  font-size: 2rem;
}

#contact input {
  padding: .5rem 2rem;
}

#contact input,
#contact textarea {
  margin: .5rem;
  text-align: center;
  font-size: 1rem;
}

#contact input:hover,
#contact textarea:hover {
  background: lightgray;
}

#contact textarea {
  width: 90%;
}

#contact button {
  background: #2f89fc;
  padding: .8rem 1.5rem;
  margin: .5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10%;
  border: none;
}

#contact button:hover {
  background: black;
  color: white;
}

#contact a:hover {
  opacity: .6;
}

#work {
  height: 80%;
}

#work .work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5rem;
  text-align: center;
}

#work h1 {
  font-size: 3.5rem;
  color: #2f89fc;
  margin: 1rem;
  padding: 1rem;
  text-shadow: 1px 1px #30e3ca;
}

#work .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 .5rem;
}

#work .column {
  -webkit-box-flex: 22%;
      -ms-flex: 22%;
          flex: 22%;
  max-width: 25%;
  padding: 0 .5rem;
}

#work .column img {
  margin-top: .5rem;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  #work .column {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  #work .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html {
  width: 90%;
  margin: auto;
  background: black;
  font-family: Caveat, cursive;
  scroll-behavior: smooth;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 800px) {
  .about-wrapper h1 {
    font-size: 3rem;
  }
  #about h3 {
    font-size: 2rem;
  }
  #about img {
    width: 30%;
  }
}
/*# sourceMappingURL=styles.css.map */